@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* EBOOK */
    .ebook-page-layout {
        @apply max-w-2xl lg:max-w-full p-4 rounded-lg bg-white dark:bg-gray-800 shadow-lg dark:shadow-slate-700;
    }

    /* EBOOK NAVIGATION */
    .open-nav-button {
        @apply hidden lg:block fixed dark:text-gray-400 top-20 left-4 z-50;
    }
    
    .navigation-menu {
        @apply hidden fixed lg:block top-4 left-0 h-full z-10 w-96 bg-white dark:bg-gray-800 shadow-md pt-28 overflow-y-auto;
    }
    
    .navigation-menu .current-page a {
        @apply bg-slate-500 text-white dark:bg-slate-700 !important;
    }
    
    .navigation-link {
        @apply text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white block py-2 px-4;
    }       

    /* HOME PAGE */
    .home-discovery-text {
        @apply text-lg text-gray-600 dark:text-gray-300 text-left mt-6;
    }
    .responsive-text {
        @apply text-base sm:text-lg md:text-xl;
        @apply text-gray-900 dark:text-gray-100;
    }

    .img-center {
        @apply block mx-auto my-4;
    }

    /* Table */
    .table {
        @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
    }

    .thead {
        @apply text-xs text-center text-gray-700 uppercase bg-gray-400 dark:bg-gray-700 dark:text-gray-200;
    }

    .tbody {
        @apply bg-slate-600 text-gray-50;
    }
}   

@layer base {
    td {
        /* padding: 1rem; */
        border: 1px solid #ddd;
    }
    body {
    font-family: 'Roboto', sans-serif;
    }

    h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    }

    p {
    font-family: 'Lato', sans-serif;
    }

    link {
        font-family: 'Roboto', sans-serif;
    }

}

@layer utilities {
    .fullscreen-overlay {
        @apply fixed inset-0 z-50 backdrop-blur-sm bg-black bg-opacity-50;
    }

    .fullscreen-image {
        @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50;
        max-width: 75%;
        max-height: 75%;
        object-fit: contain;
    }
}
